<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awabi - @ViewBag.Title</title>
    <link href="~/Content/Cs/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Cs/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
</head>
<body>
    <script>
        $(function () {
           var menu_urls = $(".nav-content").html();
           $(".navbar-nav").append(menu_urls);
           $(document).ready(function () {
               $('.nav-content > a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
           });
        });
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top" id="top_menu">
        <div class="container">
            <div class="navbar-header" id="menu_header">
                 <a href="#"><div class="img_logo"></div></a>
                <button type="button" id="menu_button" class="navbar-toggle visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="nav-content hidden-xs">
                @Html.ActionLink("Головна сторінка", "Index", "Home", null, new { @class = "navbar-brand"})
                @Html.ActionLink( "Форма студента", "StudentPage", "Note", null , new { @class = "navbar-brand" } )
                @Html.ActionLink( "Список університетів", "ListPage", "Note", null, new { @class = "navbar-brand" } )
                @Html.ActionLink( "Сторінка підрахунку", "ComputePage", "Note", null, new { @class = "navbar-brand" } )
                @Html.ActionLink( "Про нас", "AboutUsPage", "Home", null, new { @class = "navbar-brand" } )
                </span>
            </div>
            <div class="navbar-collapse collapse">
                <ul id="nav-fotter" class="nav navbar-nav visible-xs">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Житомирські студенти</p>
        </footer>
    </div>
</body>
</html>