@using WCS.Models;
@model WCS.Models.UniversityInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .cost{
        font-size:17px;
        color:red;
        font-weight:bold;
    }
</style>
<div style="text-align:center;">
    <h1>Cторінка підрахунку</h1>
    @if (Model == null)
    {
        <form method="get" style="margin: 0px 0">
            <label>
            Оберіть університет(достатньо вписати 3 символи)<br />
            @Html.EditorFor( Model => Model.UniversityID )
            </label><br />
            <label>
                Бюджет:
                <input type="checkbox" name="chose" value="true" />
            </label><br />
            <label>
                Проживаю з батьками:
                <input type="radio" name="radio" value="1" required="required"/>
            </label><br />
            <label>
                Знімаю квартиру:
                <input type="radio" name="radio" value="2" />
            </label><br />
            <label>
                Проживаю в гуртожитку:
                <input type="radio" name="radio" value="3" />
            </label><br />
            <input type="submit" value="Дізнатися результат">
        </form>
    }else
    {if (!Model.IsNaN)
        {
    <table align="center" width="70%" style="text-align:center; border: 2px solid #B0B0B0">
        <tr>
            <td colspan="2">
                <p>Приблизна оцінка вартості життя навчаючись 
                @if (Model.budjet) { <span>на бюджеті</span> }
                else { <span>на контракті</span> }
                 в "@Model.UniversityName", що розташований в "@Model.StateName" та
                @if (Model.choose == 1) { <span>проживаючи з батьками</span> }
                @if (Model.choose == 2) { <span>знімаючи квартиру</span> }
                @if (Model.choose == 3) { <span>проживаючи в гуртожитку</span> }
                :</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    @if (Model.budjet)
                    { <span>Стипендія: <span >@Model.Award₴</span></span> }
                    else
                    { <span>Плата за навчання: <span >@Model.TaitionFee₴</span></span> }
                </p>
                @if (Model.choose == 1)
                {
                    <p>
                        Приблизні витрати при проживанні з батьками (в місяць): <span >@Model.ExpensesWithFamily₴</span>
</p> 
                }
                @if (Model.choose == 2)
                {
                    <p>
                        Приблизні витрати знімаючи квартиру (в місяць): <span>@Model.ExpensesWithoutFamily₴</span>
</p>
                    <p>
                        Місячна плата за квартиру / кімнату: <span >@Model.RentsWithoutFamily₴</span>
</p>
                }
                @if (Model.choose == 3)
                {
                    <p>
                        Приблизні витрати проживаючи в гуртожитку (в місяць): <span>@Model.ExpensesDormitory₴</span>
</p>
                    <p>
                        Місячна плата за кімнату в гуртожитку: <span >@Model.RentsDormitory₴</span>
</p>
                }
                <p>Отже в загальному ви будете 
                @if (Model.Result > 0)
                {
                    <span>втрачати приблизно <span class="cost">@Model.Result₴</span></span>
                }
                else
                {
                    <span>отримувати приблизно <span class="cost">@(-@Model.Result)₴</span></span>
                }
                в місяць.
                @if (Model.budjet) { <span>(Враховуючи стипендію)</span> }</p>
                <p>Дякую за використання нашого сервісу!</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right">
                Кнопки шеринга в сетях
            </td>
        </tr>
    </table>
        }
        else
        {
            <p>Для цього університету ще не додано жодної інформації!</p>
            <p>Допоможіть нам її зібрати! @Html.ActionLink( "Заповніть форму", "AbiturientPage", "Note", null, null )</p>
        }
    }
</div>
