@using WCS.Models;
@model WCS.Models.UniversityInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AbiturientValidate.js"></script>
<script>
    $(function () {
        $("#select_div").css({ margin: "40px" });
        $("td").css({ "vertical-align": "middle" });
        $("thead tr").css({background: "none"});
    });
</script>
<div style="text-align:center;">
    <h1><span class="glyphicon glyphicon-info-sign h1-icon h1-icon-info"></span>Cторінка підрахунку</h1>
    @if (Model == null)
    {
        <form method="get" class="form-center">
            <div id="select_div">
                @Html.EditorFor(Model => Model.UniversityID)
            </div>
            <div class="btn-group btn-checkbox" data-toggle="buttons">
                <label class="btn btn-lg btn-primary">
                    <input type="checkbox" name="award" value="true" />Отримую стипендію
                </label>

                <label class="btn btn-lg btn-primary">
                    <input type="checkbox" name="contract" value="false" />На контракті
                </label>
            </div>
            <div class="clear"></div>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-lg btn-primary">
                    <input type="radio" name="choose" value="1" required="required" />Проживаю з батьками
                </label>
                <label class="btn btn-lg btn-primary">
                    <input type="radio" name="choose" value="2" />Знімаю квартиру
                </label>
                <label class="btn btn-lg btn-primary">
                    <input type="radio" name="choose" value="3" />Проживаю в гуртожитку
                </label>
            </div>
            <div class="clear"></div>
            <input type="submit" value="Далі">
            <div class="clear"></div>
        </form>
    }
    else
    {
        if (Model.ExpensesFood > 0 && Model.ExpensesTravel > 0)
        {
    <table class="table" style="text-align:center;font-size:16px;">
        <thead>
        <tr>
            <td colspan="2">
                        <p>
                            Приблизна оцінка вартості життя навчаючись

                            @if (Model.IsContract)
                            { <span>на контракті</span> }

                            @if (Model.IsHaveAward)
                            { <span>та отримуючи стипендію</span> }

                            в "@Model.UniversityName", що розташований в "@Model.StateName" якщо

                            @if (Model.Choose == 1)
                            { <span>проживати з батьками</span> }

                            @if (Model.Choose == 2)
                            { <span>знімати квартиру</span> }

                            @if (Model.Choose == 3)
                            { <span>проживати в гуртожитку</span> }
                            :
                        </p>
            </td>
        </tr>
        </thead>
        <tbody>
            <tr class="info">
                <td colspan="2">
                    <p>
                        @if (Model.IsHaveAward)
                    { <span>Стипендія: <span>@Model.Award грн.</span></span> }
                        @if (Model.IsContract)
                    {
                            <span>
                                Плата за навчання (щомісяця):
                                @if (Model.MaximalTaitionFee == Model.MinimalTaitionFee)
                                { <span>@Model.MaximalTaitionFee грн.</span> }
                                else
                                { <span>@Model.MinimalTaitionFee - @Model.MaximalTaitionFee грн.</span> }
                            </span>
                        }
                    </p>
                    <p>
                        Приблизні витрати щомісяця на їжу будуть складати @Model.ExpensesFood грн., а на проїзд по місту @Model.ExpensesTravel грн.
                    </p>
                    @if (Model.Choose == 2)
                    {
                        <p>
                            Щомісячна плата за квартиру / кімнату: <span>@Model.RentsApartment грн.</span>
                        </p>
                    }
                    @if (Model.Choose == 3)
                    {
                        <p>
                            Щомісячна плата за кімнату в гуртожитку: <span>@Model.RentsDormitory грн.</span>
                        </p>
                    }
                    <p>
                        @if (Model.MaximalResult == Model.MinimalResult)
                        {
                            <span>
                                Отже, Ви будете
                                @if (Model.MaximalResult > 0)
                                {
                                    <span>втрачати приблизно <span class="cost">@Model.MaximalResult грн.</span></span>
                                }
                                else
                                {
                                    <span>отримувати приблизно <span class="cost">@(-@Model.MaximalResult)₴</span></span>
                                }
                                в місяць.
                            </span>
                        }
                        else
                        {
                            <span>
                                Отже, в <b><i>гіршому</i></b> випадку Ви будете
                                @if (Model.MaximalResult > 0)
                                {
                                    <span>втрачати приблизно <span class="cost">@Model.MaximalResult грн.</span></span>
                                }
                                else
                                {
                                    <span>отримувати приблизно <span class="cost">@(-@Model.MaximalResult)₴</span></span>
                                }
                                в місяць.<br />У <b><i>кращому</i></b> ж випадку Ви будете
                                @if (Model.MinimalResult > 0)
                                {
                                    <span>втрачати приблизно <span class="cost">@Model.MinimalResult грн.</span></span>
                                }
                                else
                                {
                                    <span>отримувати приблизно <span class="cost">@(-@Model.MinimalResult)₴</span></span>
                                }
                            </span>
                        }
                        @if (Model.IsHaveAward)
                        { <span>(Враховуючи стипендію)</span> }
                    </p>
                    <p>Дякуємо за використання нашого сервісу!</p>
                </td>
            </tr>
        </tbody>

    </table>
        }
        else
        {
            <p style="font-size:17px">Для цього університету ще не додано жодної інформації!</p>
            <p style="font-size:17px">Допоможіть нам її зібрати! <a class="btn btn-success" href="@Url.Action("ComputePage", "Note",  new { UniversityID = Model.UniversityID })">Заповніть форму</a></p>
        }
    }
</div>
