@using WCS.Business;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .cost{
        font-weight:bold;
        font-size: larger;
    }
    .red{
        color:red;
    }
</style>
<div style="text-align:center;">
    <h1>Деталі</h1>
</div>
<table align="center" style="border:2px solid #DDD">
    <thead>
        <tr>
            <td>Поле</td>
            <td>Значення (в місяць)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Назва навчального закладу</td>
            <td>@Model.UniversityName</td>
        </tr>
        <tr>
            <td>Область / Місто</td>
            <td>@Model.StateName</td>
        </tr>
        <tr>
            <td>Стипендія</td>
            <td class="cost">@Model.Award грн.</td>
        </tr>
        <tr>
            <td>Максимальна плата за навчання</td>
            <td class="cost">@Model.MaximalTaitionFee грн.</td>
        </tr>
        <tr>
            <td>Мінімальна плата за навчання</td>
            <td class="cost">@Model.MinimalTaitionFee грн.</td>
        </tr>
        @if (Model.RentsDormitory > 0)
        {
            <tr>
                <td>Плата за кімнату в гуртожитку</td>
                <td class="cost">@Model.RentsDormitory грн.</td>
            </tr>
        }
        <tr>
            <td>Плата за винаймання квартири</td>
            <td class="cost">@Model.RentsApartment грн.</td>
        </tr>
        <tr>
            <td>Витрати за проїзд</td>
            <td class="cost">@Model.ExpensesTravel грн.</td>
        </tr>
        <tr>
            <td>Витрати на їжу</td>
            <td class="cost">@Model.ExpensesFood грн.</td>
        </tr>
        <tr>
            <td>Загальна максимальна вартість навчання в університеті (лише до статистики)</td>
            <td class="cost red">@Model.MaximalResult грн.</td>
        </tr>
        <tr>
            <td>Загальна мінімальна вартість навчання в університеті (лише до статистики)</td>
            <td class="cost red">@Model.MinimalResult грн.</td>
        </tr>
    </tbody>
</table>