@using WCS.Business;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Список записів</h1>
    <table>
        <thead>
            <tr>
                <td>№ запису</td>
                <td>Область / Місто</td>
                <td>Назва університету</td>
                <td>Дата створення запису</td>
                <td>Загальна сумма проживання</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.Id</td>
                <td>@StateBusiness.GetStateName( note.UniversityID )</td>
                <td>@UniversityBusiness.GetUniversityName( note.UniversityID )</td>
                <td>@note.Date</td>
                <td>@NotesBusiness.GetAverageNote( note.Id )</td>
                <td>@Html.ActionLink( "Details", "DetailedPage", "Note", new { id = note.Id }, null )</td>
           </tr>
        }
        </tbody>
    </table>
</div>
