@using WCS.Business;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<script>
    $(function () {
        $("body").css({"min-width" : "630px"});
    });
</script>
<div>
    <h1>Список записів</h1>
    <table class="table">
        <thead>
            <tr>
                <td>ID університету</td>
                <td>Область / Місто</td>
                <td>Назва університету</td>
                <td width="15%">Плата за навчання</td>
                <td width="15%">Загальна вартість життя</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.UniversityID</td>
                <td>@note.StateName</td>
                <td>@note.UniversityName</td>
                @if (@note.MaximalTaitionFee == note.MinimalTaitionFee)
                {
                    <td><b>@note.MaximalTaitionFee грн.</b></td>
                }
                else
                {
                    <td><b>@note.MinimalTaitionFee - @note.MaximalTaitionFee грн.</b></td>
                }
                @if (@note.MaximalResult == note.MinimalResult)
                {
                    <td><b>@note.MaximalResult грн.</b></td>
                }
                else
                {
                    <td><b>@note.MinimalResult - @note.MaximalResult грн.</b></td>
                }
                <td>@Html.ActionLink( "Details", "DetailedPage", "Note", new { id = note.UniversityID }, null )</td>
           </tr>
            i++;
        }
        </tbody>
    </table>
    <div class="list-fotter">
    @if (ViewBag.Page > 1)
    {
            @Html.ActionLink(" ", "ListPage", "Note", new { page = ViewBag.Page - 1 }, new { @class = "glyphicon glyphicon-menu-left btn btn-info btn-list" })
    }
    @if (i == 5)
    {
            @Html.ActionLink(" ", "ListPage", "Note", new { page = ViewBag.Page + 1 }, new { @class = "glyphicon glyphicon-menu-right btn btn-info btn-list" })
    }
    </div>
</div>
