@using WCS.Business;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Список записів</h1>
    <table>
        <thead>
            <tr>
                <td>ID університету</td>
                <td>Область / Місто</td>
                <td>Назва університету</td>
                <td>Плата за навчання</td>
                <td>Загальна вартість життя</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.UniversityID</td>
                <td>@note.StateName</td>
                <td>@note.UniversityName</td>
                <td><b>@note.TaitionFee₴</b></td>
                <td><b>@note.Result₴</b></td>
                <td>@Html.ActionLink( "Details", "DetailedPage", "Note", new { id = note.UniversityID }, null )</td>
           </tr>
        }
        </tbody>
    </table>
</div>
