@model WCS.Models.Note
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AbiturientValidate.js"></script>
<style>
    .cost {
        font-size: 17px;
        color: red;
        font-weight: bold;
    }
    tbody > tr > td{
        font-weight:bold;
    }
</style>
<div style="text-align:center;">
    <h1>Форма студента</h1>
    @if (ViewBag.Model2 == null)
    {
        <form method="get" style="margin: 0px 0">
            <label>
                Оберіть університет (достатньо вписати 3 символи)<br />
                @Html.EditorFor( Model => Model.UniversityID )
            </label><br />
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="checkbox" name="contract" value="true"/>На контракті
                </label>
            </div>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="choose" value="1" required="required" />Проживаю з батьками
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="choose" value="2" />Знімаю квартиру
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="choose" value="3" />Проживаю в гуртожитку
                </label>
            </div>
            <input type="submit" value="Далі">
            <div class="clear"></div>
        </form>
    }
    else
    {
        <form method="post" style="margin: 0px 0">
            <input type="text" name="UniversityID" value="@ViewBag.Model2.UniversityID" hidden="hidden"/>
            <table align="center" width="70%" style="text-align:center; border: 2px solid #B0B0B0">
                <thead>
                    <tr>
                        <td colspan="2">Заповніть будь ласка поля значеннями</td>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Model2.IsContract)
                    {
                        <tr>
                            <td>За навчання в місяць я плачу:</td>
                            <td>@Html.EditorFor( Model => Model.MaximalTaitionFee )</td>    
                        </tr>
                    }
                    <tr>
                        <td>В місяць на їжу я витрачаю:</td>
                        <td>@Html.EditorFor( Model => Model.ExpensesFood )</td>
                    </tr>
                    <tr>
                        <td>В місяць на проїзд я витрачаю:</td>
                        <td>@Html.EditorFor( Model => Model.ExpensesTravel )</td>
                    </tr>
                    @if (ViewBag.Model2.Choose == 2)
                    {
                        <tr>
                            <td>За квартиру(кімнату) в місяць я плачу:</td>
                            <td>@Html.EditorFor( Model => Model.RentsApartment )</td>
                        </tr>
                    }
                    @if (ViewBag.Model2.Choose == 3)
                    {
                        <tr>
                            <td>За кімнату в гуртожитку в місяць я плачу:</td>
                            <td>@Html.EditorFor( Model => Model.RentsDormitory )</td>
                        </tr>
                    }   
                    <tr>
                        <td colspan="2" style="text-align:right">
                            <input type="submit" name="submit_go" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    }
</div>