@model WCS.Models.Note
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AbiturientValidate.js"></script>
<script>
    $(function () {
        $("#select_div").css({ margin: "40px" });
        $("td").css({ "vertical-align": "middle" });
        $("tr").css({ "background" : "none"});
    });
</script>
    <h1><span class="glyphicon glyphicon-education h1-icon"></span>Форма студента</h1>
    @if (ViewBag.Model2 == null)
    {
        <form method="get" class="form-center">
            <div id="select_div">
                @Html.EditorFor( Model => Model.UniversityID )
            </div>
            <div class="btn-group btn-checkbox" data-toggle="buttons">
                <label class="btn btn-lg btn-primary">
                    <input type="checkbox" name="contract" value="true"/>На контракті
                </label>
            </div>
            <div class="clear"></div>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-lg btn-primary">
                    <input type="radio" name="choose" value="1" required="required" />Проживаю з батьками
                </label>
                <label class="btn btn-lg btn-primary">
                    <input type="radio" name="choose" value="2" />Знімаю квартиру
                </label>
                <label class="btn btn-lg btn-primary">
                    <input type="radio" name="choose" value="3" />Проживаю в гуртожитку
                </label>
            </div>
            <div class="clear"></div>
            <input type="submit" value="Далі">
            <div class="clear"></div>
        </form>
    }
    else
    {
        <form method="post">
            <input type="text" name="UniversityID" value="@ViewBag.Model2.UniversityID" hidden="hidden"/>
            <table class="table" style="text-align:center;">
                <thead>
                    <tr>
                        <td colspan="2">Заповніть будь ласка поля значеннями</td>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Model2.IsContract)
                    {
                        <tr>
                            <td>За навчання в місяць я плачу:</td>
                            <td>@Html.EditorFor( Model => Model.MaximalTaitionFee )</td>    
                        </tr>
                    }
                    <tr>
                        <td>В місяць на їжу я витрачаю:</td>
                        <td>@Html.EditorFor( Model => Model.ExpensesFood )</td>
                    </tr>
                    <tr>
                        <td>В місяць на проїзд я витрачаю:</td>
                        <td>@Html.EditorFor( Model => Model.ExpensesTravel )</td>
                    </tr>
                    @if (ViewBag.Model2.Choose == 2)
                    {
                        <tr>
                            <td>За квартиру(кімнату) в місяць я плачу:</td>
                            <td>@Html.EditorFor( Model => Model.RentsApartment )</td>
                        </tr>
                    }
                    @if (ViewBag.Model2.Choose == 3)
                    {
                        <tr>
                            <td>За кімнату в гуртожитку в місяць я плачу:</td>
                            <td>@Html.EditorFor( Model => Model.RentsDormitory )</td>
                        </tr>
                    }   
                </tbody>
            </table>
            <input type="submit" name="submit_go" />
            <div class="clear"></div>
        </form>
    }