@model WCS.Models.Note
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AbiturientValidate.js"></script>
<style>
    .cost {
        font-size: 17px;
        color: red;
        font-weight: bold;
    }
    tbody > td{
        font-weight:bold;
    }
</style>
<div style="text-align:center;">
    <h1>Форма абітурієнта</h1>
    @if (ViewBag.Model2 == null)
    {
        <form method="get" style="margin: 0px 0">
            <label>
                Оберіть університет (достатньо вписати 3 символи)<br />
                @Html.EditorFor( Model => Model.UniversityID )
            </label><br />
            <label>
                Бюджет:
                <input type="checkbox" name="chose" value="true" />
            </label><br />
            <label>
                Проживаю з батьками:
                <input type="radio" name="radio" value="1" required="required" />
            </label><br />
            <label>
                Знімаю квартиру:
                <input type="radio" name="radio" value="2" />
            </label><br />
            <label>
                Проживаю в гуртожитку:
                <input type="radio" name="radio" value="3" />
            </label><br />
            <input type="submit" value="Далі">
        </form>
    }
    else
    {
        <form method="post" style="margin: 0px 0">
            <input type="text" name="UniversityID" value="@ViewBag.Model2.UniversityID" hidden="hidden"/>
            <table align="center" width="70%" style="text-align:center; border: 2px solid #B0B0B0">
                <thead>
                    <tr>
                        <td colspan="2">Заповніть будь ласка поля</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @if (@ViewBag.Model2.budjet)
                        {
                            <td>Стипендія</td>
                            <td>
                            @Html.EditorFor( Model => Model.Award )
                            </td>
                        }
                        else
                        {
                            <td>Плата за навчання</td>
                            <td>
                                @Html.EditorFor( Model => Model.TaitionFee )
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Додаткові витрати(в місяць)</td>
                            <td>
                                @if(ViewBag.Model2.choose == 1)
                                {
                                    @Html.EditorFor( Model => Model.ExpensesWithFamily ) 
                                }
                                @if (ViewBag.Model2.choose == 2)
                                {
                                    @Html.EditorFor( Model => Model.ExpensesWithoutFamily )
                                }
                                @if (ViewBag.Model2.choose == 3)
                                {
                                    @Html.EditorFor( Model => Model.ExpensesDormitory )
                                }
                            </td>
                    </tr>
                    @if (ViewBag.Model2.choose == 2)
                    {
                        <tr>
                            <td>Плата за квартиру (в місяць)</td>
                            <td>
                                @Html.EditorFor( Model => Model.RentsWithoutFamily )
                            </td>
                        </tr>
                    }
                    @if (ViewBag.Model2.choose == 3)
                    {
                        <tr>
                            <td>Плата за квартиру (в місяць)</td>
                            <td>
                                @Html.EditorFor( Model => Model.RentsDormitory )
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2" style="text-align:right">
                            <input type="submit" name="submit_go" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    }
</div>